
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Roboto:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&family=Montserrat+Alternates&family=Roboto:wght@500&display=swap');


    /*----------------------------------------------------------------------*/
   
    .container-fluid{
        height: 700px;
        box-shadow: #0066FF;
    }
    .container{
        height: 600px;
        width: 1000px;
        margin: auto;
    }
    .left{
        height:  600px;
        
    }
    .up{
        text-align: center;
    }
    h4{
        color: white;
        font-family: 'Roboto', sans-serif;
        --unnamed-font-style-normal: normal;
        --unnamed-font-weight-600: 600px;
        --unnamed-font-weight-medium: medium;
        margin-top: 100px;
    }
    p{
        margin-top: 7px;
        /* opacity: 0.5; */
        /* font-family: 'Montserrat Alternates', sans-serif; */
        font-family: 'Roboto', sans-serif;
    }
    hr{
        position: relative;
        left: 150px;
    }
    form{
        position: relative;
        left: 120px;

    }
    .social-login{
        position: relative;
        left: 235px;
        margin-right: 1rem;
        margin-left: 1rem;
        justify-content: space-around;
        /* Layout Properties */
        /* top: 700px;
        left: 854px;
        width: 90px;
        height: 32px; */
        /* UI Properties */
        opacity: 1;
    }
    .btn-log{
        justify-content: flex-start;
        position: relative;
        left: 20rem;
        border-radius: 40px;
        height: 3rem;
        width: 8rem;
        border: 0px;

    }
    .btn-signup{
        justify-content: flex-start;
        position: relative;
        left: 20rem;
        border-radius: 40px;
        height: 3rem;
        width: 9rem;
        border: 0px;
    }
    .forget-link{
        /* font: var(--unnamed-font-style-normal) normal normal 14px/21px Poppins; */
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        /* font: normal normal normal 14px/21px Poppins; */
        letter-spacing: 0px;
        color: #202020;
        opacity: 1;
    }
    .topleft {
        position: absolute; 
        top: 7px;
        left: 0px; 
        transform: translatey(-5%); 
        /* top: -351.5318908691406px;
        left: -233.20989990234375px;
        width: 687px;
        height: 583px; */

      }
    .bottomleft{
        position: absolute;
        bottom: 74px;
        left: 260px; 
        /* transform: translatey(-5%); */
    }
    #grad3 {
        
        background-color: #0066FF; /* For browsers that do not support gradients */
        background-image: linear-gradient(180deg, #0066FF,#1D63FE,#3A61FD,#575EFC,#755CFB,#9259FA,#AF57F9, #CC54F8,#EA52F8);
    }
    #grad4 {
        
        background-color: #0066FF; /* For browsers that do not support gradients */
        background-image: linear-gradient(90deg, #0066FF,#1D63FE,#3A61FD,#575EFC,#755CFB,#9259FA,#AF57F9, #CC54F8,#EA52F8);
    }